---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
const { features } = Astro.props;
---

{
  features.data.enable && (
    <section id="features" class="section">
      <div class="container px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
        <div class="row">
          <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
            <h2
              set:html={markdownify(features.data.title)}
              class="gradientText text-center text-5xl font-extrabold tracking-tight"
            />
            <p
              class="my-8 text-2xl font-extrabold"
              set:html={markdownify(features.data.subtitle)}
            />
          </div>
          <div class="mx-auto grid max-w-6xl grid-cols-1 items-center gap-6 md:grid-cols-2 md:gap-10 lg:grid-cols-3">
            {features.data.items.map(({ title, description, quantity }) => (
              <div class="text-center">
                <div class="mt-2 sm:mt-6">
                  <p
                    class="gradientText gradientText mt-2 text-3xl font-bold sm:mt-3 sm:text-6xl"
                    set:html={markdownify(quantity)}
                  />
                  <p
                    class="text-sm font-semibold text-gray-800 dark:text-gray-200 sm:text-xl"
                    set:html={markdownify(title)}
                  />
                  <p
                    class="text-gray-600 dark:text-gray-400"
                    set:html={markdownify(description)}
                  />
                </div>
              </div>
            ))}
          </div>
          <div class="mx-auto mt-20 grid max-w-5xl grid-cols-12 items-center gap-x-4 sm:gap-x-6 lg:gap-x-8">
            {features.data.cases.map(({ image, alt, height, width }) => (
              <div class="col-span-4 md:col-span-3">
                <Image
                  class="w-56 rounded-3xl shadow-lg md:w-56"
                  src={image}
                  height={height}
                  width={width}
                  fit="contain"
                  alt={alt}
                />
              </div>
            ))}
          </div>
        </div>
      </div>
    </section>
  )
}
