---
import { markdownify } from "@/lib/utils/textConverter";
const { intro } = Astro.props;
---

{
  intro.data.enable && (
    <section
      id="intro"
      class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
    >
      <div class="py-26 relative mx-auto max-w-screen-xl p-4 px-4 sm:px-6 lg:mt-20 lg:px-8">
        <div class="relative">
          <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:items-center lg:gap-8">
            <div class="ml-auto lg:col-start-2 lg:max-w-2xl">
              <h2
                set:html={markdownify(intro.data.title)}
                class="gradientText mb-10 text-5xl font-extrabold tracking-tight"
              />
              <p
                set:html={markdownify(intro.data.subtitle)}
                class="max-w-xl text-2xl font-extrabold"
              />
              <p
                set:html={markdownify(intro.data.contenet)}
                class="mt-4 text-lg leading-6 text-gray-500"
              />
            </div>
            <div class="relative-20 relative mt-10 lg:col-start-1 lg:-mx-4 lg:mt-0">
              <div class="relative space-y-4">
                <div class="flex items-end justify-center space-x-4 lg:justify-start">
                  <img
                    src={intro.data.img1}
                    width="400"
                    height="auto"
                    alt={intro.data.alt1}
                    class="w-32 rounded-3xl shadow-lg md:w-56"
                  />
                  <img
                    src={intro.data.img2}
                    width="400"
                    height="auto"
                    alt={intro.data.alt2}
                    class="w-40 rounded-3xl shadow-lg md:w-64"
                  />
                </div>
                <div class="ml-12 flex items-start justify-center space-x-4 lg:justify-start">
                  <img
                    src={intro.data.img3}
                    width="400"
                    height="auto"
                    alt={intro.data.alt3}
                    class="w-24 rounded-3xl shadow-lg md:w-40"
                  />
                  <img
                    src={intro.data.img4}
                    width="400"
                    height="auto"
                    alt={intro.data.alt4}
                    class="w-32 rounded-3xl shadow-lg md:w-56"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
